			*{
				margin: 0;
				padding: 0;
				text-decoration: none;
				font-family:"微软雅黑",+"宋体",sans-serif;
			}
			li{
				list-style: none;
			}
			/*固定侧栏*/
			.gd{
				z-index: 99999;
				width: 74px;
				height: 204px;
				background: #b81b22;
				position: fixed;
				right: 10px;
				bottom: 50px;
			}
			.gd a.down{
				display: block;
				width: 73px;
				height: 76px;
				background: url(../img/baywindow.png) no-repeat 0px 0px;
			}
			.gd a.zx{
				position: absolute;
				top: 76px;
				display: block;
				width: 73px;
				height: 71px;
				background: url(../img/baywindow.png) no-repeat 0px -76px;
			}
			.gd .go-top{
				width: 75px;
				height: 57px;
				color: #fff;
				position: absolute;
				bottom: 0px;
				text-align: center;
			}
			.gd .go-top h3{
				font-size: 14px;
				font-weight: bold;
			}
			/*顶部*/
			.top{
				width: 100%;
				height: 31px;
				background: #F7F7F7;
				border-bottom: 1px solid #fff;
			}
			.top .w{
				width: 1200px;
				margin: 0 auto;
				height: 31px;
				background: #F7F7F7;
			}
			.top .w p{
				display: inline-block;
				font-size: 12px;
				color: #828282;
				float: left;
				margin-left: 767px;
				line-height: 32px;				
			}
			.top .w a{
				display: inline-block;
				font-size: 12px;
				color: #828282;
				float: left;
				line-height: 32px;
			}
			.top .w a.land{
				margin-left: 12px;
			}
			.top .w a.order{
				margin-left: 14px;
			}
			.top .w a.order:hover{
				color: #A10000;
			}
			.top .w a.notice{
				background: url(../img/2017-07-25_090907_08.jpg) no-repeat left center;
				margin-left: 16px;
			}
			.top .w a.notice:hover{
				color: #A10000;
			}
			.top .w a.notice img{
				margin-top: 9px;
				display: block;
				float: left;
			}
			.top .w a.notice span{
				margin-left: 20px;
			}
			.top .w a.wx{
				z-index: 99999;
				margin: 8px 0px 0 13px;
				cursor: pointer;
				position: relative;
			}
			.top .w a.wx .show:hover~.dis{
				display: block;
			}
			.top .w a.wx .show{
				width: 18px;
				height: 18px;
				background: url(../img/2017-07-25_090907_03.jpg) no-repeat center;
			}
			.top .w a.wx .dis{
				position: absolute;
				top: 22px;
				right: -1px;
				display: none;
				width: 149px;
				height: 167px;
				background: transparent;
				border: 1px solid #E5E5E5;
				
				text-align: center;
			}
			.top .w a.wx .dis .ws{
				position: absolute;
				/*top: 0px;*/
				width: 148px;
				height: 165px;
				background: #fff;
				border: 1px solid #E5E5E5;
				border-left: none;
				border-right: none;
				border-bottom: none;
				text-align: center;
			}
			.top .w a.wx .dis img{
				margin: 0 auto;
				display: block;	
			}
			.top .w a.wx .dis span{
				font-weight: bold;
			}
			.top .w a.wx .dis h4{
				
				display: inline-block;
				width: 148px;
				height: 22px;
				line-height: 22px;
				color: #fff;
				background: #B91E1C;
				position: relative;
				bottom: 71px;
				left: 0px;
			}
			.top .w a.wx .dis h4:before{
				content: "";
				width: 149px;
				height: 1px;
				background: #E5E5E5;
				position: absolute;
				top: 0px;
				left: -1px;
			}
			.top .w a.wb{
				width: 18px;
				height: 18px;
				background: url(../img/2017-07-25_090907_05.jpg) no-repeat center;
				float: right;
				margin: 8px 2px 0 2px;
			}
			.top .w span.sx{
				width: 1px;
				height: 12px;
				background: #7f7f7f;
				float: left;
				margin: 10px 14px 0 16px;
			}
			/*搜索框+购物车+导航*/
			header{
				width: 100%;
				border-top: 1px solid #CCCCCC;
				padding-top: 27px;
			}
			header .w{
				width: 1200px;
				margin: 0 auto;
			}
			header form{
				float: left;
				margin-left: 762px;
			}
			header form input{
				width: 259px;
				height: 27px;
				text-indent: 5px;
				border: 1px solid #C9CACA;
			}
			header form button{
				width: 49px;
				height: 29px;
				color: #fff;
				font-size: 14px;
				background: #B81B22;
				border: 1px solid #C9CACA;
				border-left:none;
				outline: none;
				margin-left: -4px;
				cursor: pointer;
			}
			header .shopping{
				position: relative;
			}
			header .shopping a{
				color: #fff;
				width: 105px;
				height: 27px;
				border: 1px solid #C1383E;
				float: right;
				font-size: 12px;
				position: relative;
				background: #B81C22;
				background: url(../img/vanclsprite.png) no-repeat -153px 0px;
			}
			header .shopping a:after{
				content: "";
				width: 105px;
				height: 1px;
				background: #B81B22;
				position: absolute;
				bottom: -1px;
				left: 0;
			}
			header .shopping a:hover:after{
				background: #fff;
			}
			header .shopping a:hover{
				/*background: url(../img/vanclsprite.png) no-repeat -153px 0px;*/
				background: url(../img/vanclsprite.png) no-repeat -152px -29px;
				color: #B81C22;
			}
			header .shopping a:hover{
				border-bottom-color: #111;
			}
			header .shopping a .show span{
				display: block;
				float: left;
				margin: 5px 0 0 30px;
			}
			header .shopping a:hover .dis{
				display: block;
			}
			header .shopping .dis{
				display: none;
				position: absolute;
				top: 27px;
				right: -1px;
				width: 325px;
				height: 24px;
				border: 1px solid #B81C22;
				background: #fff;
			}
			header .shopping .dis p{
				font-size: 12px;
				color: #333;
				line-height: 26px;
				text-indent: 5px;
			}
			header .recommend{
				clear: both;
				margin-left: 777px;
				padding-top: 8px;
				font-size: 12px;
				color: #727171;
			}
			header .recommend span{
				float: left;
				
			}
			header .recommend ul li{
				float: left;
				margin-left: 10px;
			}
			header .recommend ul li a{
				font-size: 12px;
				color: #727171;
			}
			nav{
				width: 1200px;
				margin: 25px auto;
			}
			nav .logo a{
				display: block;
				width: 166px;
				height: 47px;
				background: url(../img/vanclsprite.png) no-repeat 0 -59px;
			}
			nav ul{
				margin: -5px 0 0 199px;
			}
			nav ul li{
				float: left;
				margin: -20px 0 0 0;
				text-align: center;
				width: 98px;
				position: relative;
			} 
			nav ul li a{
				width: 98px;
				display:block;
				font-family: "微软雅黑";
				font-size: 16px;
				color: #727171;
				text-align: center;
				border-right: 1px solid #888888;
				position: relative;
			}
			nav ul li a:hover{
				color: #B81C22;
			}
			nav ul li a img{
				width: 25px;
				height: 13px;
				position: absolute;
				right: 8px;
				top:-4px;
			}{
				
			}
			nav ul li:last-child a{
				border:none;
			}
			nav ul li:hover .hid{
				display: block;
				background: red;
			}
			nav ul li .hid{
				z-index: 999;
				display: none;
				background: #fff;
				position: absolute;
				top: 5px;
				transition: all 0.3s;
			}
			nav ul li .hid .nav-hx{
				z-index: 999;
				position: absolute;
				left: 1px;
				top: 24px;
				width: 97px;
				height: 5px;
				background: #B81C22;
			}
			nav ul li:nth-of-type(3) .hid .nav-hx{
				top: 9px;
				left: 0px;
			}
			nav ul li:nth-of-type(4) .hid .nav-hx{
				top: 9px;
				left: 0px;
			}
			nav ul li .hid ul{
				width: 97px;
				background: #fff;
				border: 1px solid #EFEFEF;
				border-top: none;
				position: absolute;
				top: 20px;
				left: -199px;
			}
			nav ul li .hid ul li{
				margin: 6px 0;
			}
			nav ul li .hid:after{
				content: "";
				width: 1px;
				height: 19px;
				background: #fff;
				position: absolute;
				top: 15px;
				left: 0px;
			}
			nav ul li .hid:before{
				z-index: 1;
				content: "";
				width: 1px;
				height: 19px;
				background: #fff;
				position: absolute;
				top: 15px;
				right: -99px;
			}
			nav ul li .hid ul li a{
				border: none;
			}
			nav ul li .hid ul li:nth-of-type(1) a{
				padding-top: 21px;
			}
			nav ul li .hid ul li:nth-last-child(1) a{
				margin-bottom: 11px;
			}
			/*轮播*/		
			
			nav .car{
				width: 1200px;
				height: 535px;
				position: relative;
				margin: 53px auto 0;
			}
			nav .car .car-img li{
				top: 0px;
				left: 0px;
				position: absolute;
				display: none;
			}
			nav .car .car-img li img{
				position: absolute;
				top: 0;
				left: 0;
				width: 1200px;
				height: 535px;
			}
			nav .car .car-dian{
				position: absolute;
				bottom: 35px;
				left: 350px;
			}
			nav .car .car-dian li{
				width: 12px;
				height: 12px;
				background: #DDDDDD;
				font-size: 12px;
				border-radius: 50px;
				display: block;
				margin:0 8px 0 0;
				float: left;
			}
			nav .car .car-dian li.active{
				background-color: #A10000;
			}
			nav .car .car-lr{
				cursor: pointer;
			}
			nav .car .car-lr:hover{
				color: red;
			}
			nav .car .car-lr .car-lr-l{
				width: 19px;
				height: 53px;
				background: url(../img/focus_lr09181.png) no-repeat -3px -5px;
				position: absolute;
				top: 235px;
				left: 12px;
			}
			nav .car .car-lr .car-lr-l:hover{
				background: url(../img/focus_lr09181.png) no-repeat -3px -66px;
			}
			nav .car .car-lr .car-lr-r{
				width: 19px;
				height: 53px;
				background: url(../img/focus_lr09181.png) no-repeat -60px -5px;
				position: absolute;
				top: 235px;
				right: 12px;
			}
			nav .car .car-lr .car-lr-r:hover{
				background: url(../img/focus_lr09181.png) no-repeat -60px -66px;
			}
			/*商品1*/
			h4{
				font-size: 18px;
				color: #9A9A9A;
				font-weight: normal;
				width: 100px;
				display: block;
				text-align: center;
				margin: 65px auto 45px;
			}
			.zs{
				width: 1200px;
				height: 1200px;
				margin: 0 auto;
			}
			.zs .zs-1 a{
				width: 390px;
				height: 600px;
				display: block;
				float: left;
				margin-right: 15px;
			}
			.zs .zs-1 a:nth-of-type(3){
				margin-right: 0;
			}
			.zs .zs-2 a{
				display: block;
				float: left;
				margin-right: 15px;
			}
			.zs .zs-2 a:nth-of-type(3){
				margin-right: 0;
			}
			/*商品*/
			h4.hdzq{
				margin: 49px auto 45px;
			}
			.shangpin{
				width: 1200px;
				height: 508px;
				margin: 0 auto;
				font-family: "微软雅黑";
			}
			.shangpin .sp-l{
				width: 590px;
				height: 100%;
				float: left;
				margin-right: 17px;
			}
			.shangpin .sp-l .sp-t{
				width: 590px;
				height: 440px;
			}
			.shangpin .sp-l .sp-b{
				width: 588px;
				height: 68px;
				border:1px solid #e8e7ec;
				border-top: none;
			}
			.shangpin .sp-l .sp-b a{
				float: left;
				line-height: 69px;
				color: #333333;
				margin-left: 12px;
			}
			.shangpin .sp-l .sp-b span{
				float: right;
				line-height: 69px;
				color: #A10000;
				margin-right: 12px;
			}
			.shangpin .sp-m{
				width: 290px;
				height: 100%;
				float: left;
				margin-right: 17px;
			}
			.shangpin .sp-m .d1,.d2{
				height: 260px;
			}
			.shangpin .sp-m .sp-t{
				width: 290px;
				height: 180px;
			}
			.shangpin .sp-m .sp-b{
				width: 288px;
				height: 68px;
				border:1px solid #e8e7ec;
				border-top: none;
			}
			.shangpin .sp-m .sp-b a{
				float: left;
				line-height: 69px;
				color: #333333;
				margin-left: 12px;
			}
			.shangpin .sp-m .sp-b span{
				float: right;
				line-height: 69px;
				color: #A10000;
				margin-right: 12px;
			}
			.shangpin .sp-r{
				width: 286px;
				height: 100%;
				float: left;
			}
			.shangpin .sp-r .sp-t{
				height: 440px;
			}
			.shangpin .sp-r .sp-b{
				width: 284px;
				height: 68px;
				border:1px solid #e8e7ec;
				border-top: none;
			}
			.shangpin .sp-r .sp-b a{
				float: left;
				line-height: 69px;
				color: #333333;
				margin-left: 12px;
			}
			.shangpin .sp-r .sp-b span{
				float: right;
				line-height: 69px;
				color: #A10000;
				margin-right: 12px;
			}
			.bottom{
				width: 1198px;
				height: 282px;
				border: 1px solid #e0e0e1;
				margin: 65px auto 0;
			}
			.bottom .bottom-t{
				width: 1118px;
				height: 168px;
				margin: 33px auto 0px;
				font-family: "微软雅黑";
			}
			.bottom .bottom-t .bottom-t-1{
				width: 370px;
				height: 18px;
				text-align: center;
				float: left;
				position: relative;
			}
			.bottom .bottom-t .bottom-t-1:before{
				content: "";
				width: 1px;
				height: 138px;
				background: #e0e0e1;
				position: absolute;
				right: 0;
			}
			.bottom .bottom-t .bottom-t-1 .b-img{
				padding-top: 15px;
			}
			.bottom .bottom-t .bottom-t-1 .txt{
				width: 156px;
				height: 32px;
				margin-top: 27px;
				margin-left: 107px;
				text-align: center;
				line-height: 32px;
				color: #fff;
				font-size: 14px;
				background: #B81C22;
				
			}
			.bottom .bottom-t .bottom-t-2{
				width: 370px;
				height: 18px;
				text-align: center;
				float: left;
				position: relative;
			}
			.bottom .bottom-t .bottom-t-2:before{
				content: "";
				width: 1px;
				height: 138px;
				background: #e0e0e1;
				position: absolute;
				right: 0;
			}
			.bottom .bottom-t .bottom-t-2 .b-img{
				padding-top: 15px;
			}
			.bottom .bottom-t .bottom-t-2 .txt{
				
				margin-top: 22px;
				text-align: center;
				line-height: 32px;
				color: #727171;
				font-size: 14px;
			}
			.bottom .bottom-t .bottom-t-3{
				width: 370px;
				height: 18px;
				text-align: center;
				float: left;
				position: relative;
			}
			.bottom .bottom-t .bottom-t-3 .b-img{
				/*padding-top: 15px;*/
			}
			.bottom .bottom-t .bottom-t-3 .txt{
				
				margin-top: 22px;
				text-align: center;
				line-height: 32px;
				color: #727171;
				font-size: 14px;
			}
			.bottom .bottom-t .bottom-t-3 .txt span{
				color: #A10000;
			}
			.bottom .bottom-b{
				width: 1118px;
				height: 57px;
				background: #f8f8f8;
				margin: 0 auto;
			}
			.bottom .bottom-b a{
				display: block;
				float: left;
				font-size: 12px;
				height: 26px;
				color: #323232;
				line-height: 30px;
				margin-top: 17px;
				padding: 0 65px;
				border-right: 1px solid #DADADB;
				
			}
			.bottom .bottom-b a:nth-child(6){
				border: none;
			}
			footer{
				margin-top: 25px;
			}
			footer .fgx{
				width: 1200px;
				height: 1px;
				background: #3E3A39;
				margin: 0 auto;
			}
			footer p{
				margin-top: 18px;
				text-align: center;
				font-size: 12px;
				color: #3E3A39;
				line-height: 24px;
			}
			footer .link{
				width: 750px;
				height: 45px;
				margin: 37px auto 26px;
			}
			footer .link a{
				display: block;
				float: left;
				margin-right: 20px;
			}
			footer .link a.li-1{
				width: 112px;
				height: 42px;
				background: url(../img/spritesbgtop.png) no-repeat 0px -580px ;
			}
			footer .link a.li-2{
				width: 156px;
				height: 46px;
				background: url(../img/spritesbgtop.png) no-repeat 0px -629px ;
			}
			footer .link a.li-3{
				width: 95px;
				height: 42px;
				background: url(../img/spritesbgtop.png) no-repeat 0px -677px ;
			}
			footer .link a.li-4{
				width: 96px;
				height: 46px;
				background: url(../img/spritesbgtop.png) no-repeat -96px -677px ;
			}
			footer .link a.li-5{
				width: 42px;
				height: 42px;
				background: url(../img/spritesbgtop.png) no-repeat -201px -677px ;
			}
			footer .link a.li-6{
				width: 120px; 
				height: 40px;
				background: url(../img/simg.jpg) no-repeat;
			}
